table {
  border-spacing: 0;
  font-size: $font-size-small;

  thead {
    th {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $color-border-light;
    }

    td {
      @include padding($space-one $space-small);
    }
  }
}

.woot-table {
  tr {
    .show-if-hover {
      opacity: 0;
      transition: all 0.2s $ease-in-out-cubic;
    }

    &:hover {
      .show-if-hover {
        opacity: 1;
      }
    }
  }

  .agent-name, .agent-availability, .sub-title {
    display: block;
    font-weight: $font-weight-medium;
    text-transform: capitalize;
  }

  .no-items-erro-message{
    font-weight: $font-weight-medium;
    text-align: center;
  }
  
  .open-conversations {
    padding-left: 10vw;
  }
  
  .resolved-conversations {
    padding-left: 10vw;
  }

  .woot-thumbnail {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
  }

  .button-wrapper {
    @include flex-align(left, null);
    @include flex;
    flex-direction: row;
    min-width: 20rem;
  }

  .button {
    @include margin($zero);
  }
}

.conversation-table {
  background-color: #d3d3d361;
}
